@import '../colors.scss';
@import '../media.scss';
@import '../scrolling-text/scrolling-text.scss';

.timeline {
  width: 100vw;
  padding: 5rem 1rem 5rem;
  display: flex;
  flex-flow: row wrap;
  background: $green-base;
  transform: skewY(-4deg);

  @include sm {
    padding: 5rem 3rem 10rem;
  }

  @include lg {
    padding: 15rem 5rem 10rem;
  }

  &__title {
    font-size: 2rem;

    @include sm {
      font-size: 4rem;
    }

    @include lg {
      font-size: 6.5rem;
    }

    &__container {
      flex-basis: 60%;
      flex-grow: 1;
      flex-shrink: 0;
      @include lg {
        padding-bottom: 2rem;
      }

      @include scrolling-text(2rem, 5rem, 6.5rem);
    }
  }

  &__events {
    width: 100%;
    margin-top: 2rem;
  }

  &__event {
    &__title {
      font-size: 2rem;
      margin-bottom: 1rem;

      @include sm {
        font-size: 4rem;
      }
    }
  
    &__location {
      font-size: 0.7rem;
      display: flex;
      align-items: center;
      margin-bottom: 2rem;

      @include sm {
        font-size: 1rem;
      }

      @include lg {
        font-size: 2rem;
      }
    }

    &__description {
      line-height: 1em;
      font-size: 1.5rem;

      @include sm {
        line-height: 2.5rem;
        font-size: 2rem;
      }

      & a {
        font-size: 1.5rem;
        text-decoration: underline;

        @include sm {
          line-height: 2.5rem;
          font-size: 2rem;
        }
      }
    }
  }

  &__year {
    width: 35rem;
    flex-shrink: 1;
    @include scrolling-text(3rem, 15rem, 15rem);

    & .scrolling-text__line {
      color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: black;
    }
  }
}