@import '../colors.scss';

header {
  position: relative;
  height: 100vh;
}

.greeting {
  font-size: 15rem;
  color: $green-base;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

  &__container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &--1 {
    opacity: 1;
  }

  &--2 {
    opacity: 0.8;
  }

  &--3 {
    opacity: 0.6;
  }
}

.name {
  font-size: 2rem;
  color: $green-dark;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

  &__container {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
  }
}

.scroll-tip {
  font-size: 1.5rem;

  &__container {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.down-arrow {
  margin-top: 1rem;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid black;
}