header {
  position: relative;
  height: 100vh;
}

.greeting {
  font-size: 5rem;
  transform-style: preserve-3d;

  &__container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &--1 {
    color: red;
  }

  &--2 {
    color: green;
  }

  &--3 {
    color: blue;
  }
}

.name {
  font-size: 2rem;
  transform-style: preserve-3d;

  &__container {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
  }
}