@import '../media.scss';

@mixin scrolling-text($font-size, $font-size-sm, $font-size-lg) {
  $line-height: 1.22;
  & .scrolling-text {
    height: $font-size * $line-height;

    @include sm {
      height: $font-size-sm * $line-height;
    }

    @include lg {
      height: $font-size-lg * $line-height;
    }
  
    &__line {
      font-size: $font-size;
      line-height: $line-height;

      @include sm {
        height: $font-size-sm * $line-height;
      }

      @include lg {
        font-size: $font-size-lg;
      }
    }
  }
}