@font-face {
  font-family: 'AlteHaasGrotesk';
  src: local('AlteHaasGrotesk'), url(./fonts/AlteHaasGroteskBold.ttf) format('opentype');
}

body {
  perspective: 10000px;
}

* {
  border: 0;
  padding: 0;
  font-family: 'AlteHaasGrotesk', sans-serif;
}

.App {
  height: 300vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'AlteHaasGrotesk', sans-serif;
}