@font-face {
  font-family: 'AlteHaasGroteskBold';
  src: local('AlteHaasGroteskBold'), url(./fonts/AlteHaasGroteskBold.ttf) format('opentype');
}

@font-face {
  font-family: 'AlteHaasGrotesk';
  src: local('AlteHaasGrotesk'), url(./fonts/AlteHaasGroteskRegular.ttf) format('opentype');
}

body {
  perspective: 10000px;
  user-select: none;
  -webkit-user-select: none;
}

* {
  border: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, a, p {
  font-family: 'AlteHaasGroteskBold', sans-serif;
}

a, p {
  font-family: 'AlteHaasGrotesk', sans-serif;
  font-size: 2rem;
}