.cards {
  height: 40vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  cursor: grab;
  user-select: none;
  -webkit-user-select: none;

  &__counter {
    width: 0.7rem;
    height: 0.7rem;
    margin: 0.3rem;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    
    &__container {
      position: absolute;
      bottom: 3rem;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
    }
  }
}